@model IEnumerable<Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
            <partial name="ProductSummary" model="product"/>
        </div>
    }
</div>



