@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Aurora Bricks";
}

<style>
    .down-arrow {
        display: inline-block;
        margin: 0 auto;
        font-size: 2em;
        color: black; /* Replace #yourColor with the color you want */
        text-decoration: none; /* Removes the underline from the link */
    }
    .containerlego {
        position: absolute;
        top: 200px; /* Adjust this value to move the div down */
        left: 50%;
        width: 200px;
        height: 300px;
        margin: -175px 0 0 -100px;
        transform: translate(-50%, -50%) rotateX(50deg) rotateZ(45deg);
        z-index: 1; /* Add this to position the div above other elements */
    }
    .lego {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
        -webkit-animation: legoMoves 6s cubic-bezier(0.54, 0.09, 0.86, 0.36) infinite;
        animation: legoMoves 6s cubic-bezier(0.54, 0.09, 0.86, 0.36) infinite;
    }
    .lego:before,
    .lego:after {
        content: "";
        position: absolute;
    }
    .lego:before {
        top: 100%;
        left: 0;
        height: 60px;
        width: 100px;
        transform: skewX(45deg) translate(30px, 0);
    }
    .lego:after {
        height: 100px;
        width: 60px;
        top: 0;
        right: 0;
        transform: skewY(45deg) translate(60px, -30px);
    }
    .lego .circles {
        position: absolute;
        left: 50%;
        height: 30px;
        width: 30px;
        margin: -22.22222222px 0 0 -22.22222222px;
    }
    .lego .circles:before,
    .lego .circles:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    .lego .circles:before {
        left: -24.33px;
    }
    .lego .circles:after {
        right: -24.33px;
    }
    .lego .circles-1 {
        top: 25%;
    }
    .lego .circles-2 {
        top: 75%;
    }
    .lego-4 {
        background-color: #f9eb2f;
        -webkit-animation-delay: 4.8s;
        animation-delay: 4.8s;
    }
    .lego-4:before {
        background-color: #eede07;
    }
    .lego-4:after {
        background-color: #bdb005;
    }
    .lego-4 .circles:before,
    .lego-4 .circles:after {
        background-color: #f9eb2f;
        box-shadow: 6px 6px 0px 1px #bdb005;
    }
    .lego-3 {
        background-color: #63d2f3;
        -webkit-animation-delay: 3.6s;
        animation-delay: 3.6s;
    }
    .lego-3:before {
        background-color: #34c4ef;
    }
    .lego-3:after {
        background-color: #11b0df;
    }
    .lego-3 .circles:before,
    .lego-3 .circles:after {
        background-color: #63d2f3;
        box-shadow: 6px 6px 0px 1px #11b0df;
    }
    .lego-2 {
        background-color: #9ed027;
        -webkit-animation-delay: 2.4s;
        animation-delay: 2.4s;
    }
    .lego-2:before {
        background-color: #7da51f;
    }
    .lego-2:after {
        background-color: #5d7a17;
    }
    .lego-2 .circles:before,
    .lego-2 .circles:after {
        background-color: #9ed027;
        box-shadow: 6px 6px 0px 1px #5d7a17;
    }
    .lego-1 {
        background-color: #eb413b;
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
    }
    .lego-1:before {
        background-color: #dc1d17;
    }
    .lego-1:after {
        background-color: #ae1712;
    }
    .lego-1 .circles:before,
    .lego-1 .circles:after {
        background-color: #eb413b;
        box-shadow: 6px 6px 0px 1px #ae1712;
    }
    .lego-0 {
        background-color: #ff9d52;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    .lego-0:before {
        background-color: #ff801f;
    }
    .lego-0:after {
        background-color: #eb6600;
    }
    .lego-0 .circles:before,
    .lego-0 .circles:after {
        background-color: #ff9d52;
        box-shadow: 6px 6px 0px 1px #eb6600;
    }
    @@-webkit-keyframes legoMoves {
        0%,
        4.166%,
        95.795%,
        100% {
            transform: translate(0, 0);
            z-index: 10;
        }
        8.33% {
            transform: translate(100px, 0);
            z-index: 10;
        }
        23.3% {
            transform: translate(100px, 0);
            z-index: 40;
        }
        24.99% {
            transform: translate(100px, 100px);
            z-index: 50;
        }
        41.66% {
            transform: translate(100px, 100px);
            z-index: 60;
        }
        45.815%,
        54.145% {
            transform: translate(100px, 200px);
            z-index: 60;
        }
        58.31% {
            transform: translate(0, 200px);
            z-index: 60;
        }
        72.9025% {
            transform: translate(0, 200px);
            z-index: 30;
        }
        74.97% {
            transform: translate(0, 100px);
            z-index: 20;
        }
        91.63% {
            transform: translate(0, 100px);
            z-index: 10;
        }
    }
    @@keyframes legoMoves {
        0%,
        4.166%,
        95.795%,
        100% {
            transform: translate(0, 0);
            z-index: 10;
        }
        8.33% {
            transform: translate(100px, 0);
            z-index: 10;
        }
        23.3% {
            transform: translate(100px, 0);
            z-index: 40;
        }
        24.99% {
            transform: translate(100px, 100px);
            z-index: 50;
        }
        41.66% {
            transform: translate(100px, 100px);
            z-index: 60;
        }
        45.815%,
        54.145% {
            transform: translate(100px, 200px);
            z-index: 60;
        }
        58.31% {
            transform: translate(0, 200px);
            z-index: 60;
        }
        72.9025% {
            transform: translate(0, 200px);
            z-index: 30;
        }
        74.97% {
            transform: translate(0, 100px);
            z-index: 20;
        }
        91.63% {
            transform: translate(0, 100px);
            z-index: 10;
        }
    }

</style>

@using intex2.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model intex2.Models.ViewModels.ProductsListViewModel


<div class="row justify-content-center mb-3">
<div class="col-12 text-center">
    <div style="width: 100%; text-align: center;">
        <h1 style="font-size: 15em; white-space: nowrap; text-align: center; margin-left: -35px;">Aurora Legos</h1>
    </div>
    <h1>All your favorite legos</h1>
    <br/>
    <br/>
    <div class='containerlego' style="position: relative; top: 250px; left: 58%;">
        <div class='lego lego-4'>
            <div class='circles circles-1'></div>
            <div class='circles circles-2'></div>
        </div>
        <div class='lego lego-3'>
            <div class='circles circles-1'></div>
            <div class='circles circles-2'></div>
        </div>
        <div class='lego lego-2'>
            <div class='circles circles-1'></div>
            <div class='circles circles-2'></div>
        </div>
        <div class='lego lego-1'>
            <div class='circles circles-1'></div>
            <div class='circles circles-2'></div>
        </div>
        <div class='lego lego-0'>
            <div class='circles circles-1'></div>
            <div class='circles circles-2'></div>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1>All in one place</h1>
    <br/>
    <br/>
    <br/>
    <a href="#auroras-favorites" class="down-arrow">&darr;</a>
    <br/>
    <br/>
    <br/>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<section style="position: relative; text-align: center;">
    <div style="position: absolute; bottom: 8%; left: 50%; transform: translate(-50%, -50%); color: black;">
        <h2 id="auroras-favorites" style="color: black;">Aurora's Favorites</h2>
        <a href="@Url.Action("Shop", "Home")" class="btn" style="background-color: white; color: black; border: 1px solid black;">View All</a>
    </div>
</section>

<section id="aurora">
    <div class="container" style="padding-left: 5px; padding-right: 5px;">
        <div class="row justify-content-center mb-3">
            <br/>
            <br/>

            <br/>
            @foreach (Product p in Model.Products)
            {
            <div class="col my-2" style="flex: 0 0 20%; max-width: 20%;">
                <partial name="ProductSummary" model="p"/>
            </div>
            }
        </div>
    </div>
</section>



<br/>
<br/>

<section id="star-wars-collection" style="position: relative; text-align: center;">
    <img src="@Url.Content("~/images/jedi.jpg")" alt="jedi" class="img-fluid" />
    <div style="position: absolute; bottom: 8%; left: 50%; transform: translate(-50%, -50%); color: black;">
        <h2 style="color: black;">NEW STAR WARS COLLECTION</h2>
        <a href="@Url.Action("Shop", "Home")" class="btn" style="background-color: white; color: black; border: 1px solid black;">Shop Now</a>
    </div>
</section>



<br/>
<br/>


@if ((User?.Identity?.IsAuthenticated ?? false) && ViewBag.RecommendedProducts != null && ViewBag.RecommendedProducts.Count > 0)
{
    <section id="recommendation">
        <div class="container" style="padding-left: 5px; padding-right: 5px;">
            <div class="row justify-content-center mb-3">
                <div class="col-12 text-center">
                    <h2>Recommended for you</h2>
                </div>
                @foreach (var recommendation in ViewBag.RecommendedProducts)
                {
                    <div class="col my-2" style="flex: 0 0 20%; max-width: 20%;">
                        <partial name="ProductSummary" model="recommendation"/>
                    </div>
                }
            </div>
        </div>
    </section>
}
else{
<section id="for-you">
    <div class="row justify-content-center mb-3">
        <div class="col-12 text-center">
            <br/>
            <h2>BESTSELLERS</h2>
            <br/>
        </div>
        <br/>
        @foreach (Product p in Model.BestProducts)
        {
        <div class="col-12 col-md-3">
            <partial name="ProductSummary" model="p"/>
        </div>
        }
    </div>
</section>
}


@section Scripts {
    <script>
        // You can place any additional JavaScript here
    </script>
}