@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using intex2.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model intex2.Models.ViewModels.ProductsListViewModel

<section id="hero">
    <img src="@Url.Content("~/images/pileoflegos.jpg")" alt="A pile of Legos" style="width: 100vw; height: 200px; object-fit: cover;" />    <div class="hero-text">
        <h1>All in one place</h1>
        <p>Discover our wide range of LEGO® sets and unleash your creativity.</p>
        <a href="#" class="btn">Shop Now</a>
    </div>
</section>


<div class="row justify-content-center mb-3">
    <div class="col-12 text-center">
        <br/>
        <h2>AURORA'S FAVORITES</h2>
        <a href="@Url.Action("Shop", "Home")" class="btn" style="background-color: white; color: black; border: 1px solid black;">View All</a>

        <br/>
        <br/>
    </div>
    <br/>
    @foreach (Product p in Model.Products)
    {
        <div class="col-12 col-md-3">
            <partial name="ProductSummary" model="p"/>
        </div>
    }
</div>
<br/>
<br/>

<section id="star-wars-collection">
    <img src="@Url.Content("~/images/jedi.jpg")" alt="jedi" class="img-fluid" />    <div class="col-12 text-center">
        <br/>
        <h2>NEW STAR WARS COLLLECTION</h2>
        <a href="@Url.Action("Shop", "Home")" class="btn" style="background-color: white; color: black; border: 1px solid black;">Shop Now</a>

        <br/>
    </div>
</section>

<br/>
<br/>

<section id="for-you">
    <div class="row justify-content-center mb-3">
        <div class="col-12 text-center">
            <br/>
            <h2>BESTSELLERS</h2>
            <br/>
        </div>
        <br/>
        @foreach (Product p in Model.BestProducts)
        {
        <div class="col-12 col-md-3">
            <partial name="ProductSummary" model="p"/>
        </div>
        }
    </div>
</section>

@section Scripts {
    <script>
        // You can place any additional JavaScript here
    </script>
}
 
@{
    ViewData["Title"] = "Authentication";
}

