@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model intex2.Models.ViewModels.ProductsListViewModel

<h1>All Products</h1>

<div class="row">
    @foreach (Product p in Model.Products)
    {
        <div class="col-12 col-md-3">
            <partial name="ProductSummary" model="p"/>
        </div>
    }
</div>
    
    <div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         paeg-url-projectType="@Model.CurrentProductType" class = "btn-group pull-right m-1"></div>

