
@if (!Context.Request.Cookies.ContainsKey("CookieConsent"))
{
    <div id="cookieConsentContainer" class="cookie-consent-container">
        <p>We use cookies to improve your experience on our site. By continuing, you agree to our use of cookies.</p>
        <button id="acceptCookieConsent">Accept</button>
    </div>
    <script>
        document.getElementById("acceptCookieConsent").onclick = function() {
            document.getElementById("cookieConsentContainer").style.display = "none";
            document.cookie = "CookieConsent=true; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();
        };
    </script>
}
