@model Cart
<div class="">
    <a class="btn btn-sm btn-light navbar-btn" asp-page="/Cart">
        @* asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()"> *@
        <i class="fa fa-shopping-cart"></i>
    </a>
    @if (Model.Lines.Count() > 0)
        {
            <small class="navbar-text">
                @Model.Lines.Sum(x=>x.Quantity) Item(s)
            </small>
        }
</div>