@{
    var user = await UserManager.GetUserAsync(User);
}
<p>Email: @user.Email</p>
<p>To change any details about your account, including to enable two factor authentication, click the button below.</p>
<a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Update" asp-route-id="@user.Id">
    Update
</a>