@{
    ViewData["Title"] = "ConfirmEmail";
}
 
<h1>Confirm Email</h1>
<p>
    Thank you for confirming your email.
</p>
<a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>

