@{
    ViewData["Title"] = "ConfirmEmail";
}
 
<h1>Confirm Email</h1>
<p>
    Please check you email for a link to confirm your email address.
    If you do not see the link, check your spam folder. 
    Once you have confirmed your email, return the login page and log in.
</p>